<ips:template parameters="$type, $lists, $count, $fa='code', $dialog=false"/>
<li id="elProfile{$type}" title="Loaded {$type}" class="isParent dtProfileFirst dtProfiler{$type}" data-ipstooltip>
    <i class="fa fa-{$fa}"></i> {$type} ({$count}) <i class="fa fa-angle-up dtprofilearrow"></i>
</li>
<ul id="elProfile{$type}_list" class="ipsList_reset ipsHide dtProfilerBar_templates dtProfileBar_templates_{$type}">
    {{foreach $lists as $list }}
    <li>
        {{if $list['url']}}
        <a href="{$list['url']}" {{if $dialog }} data-ipsdialog{{endif}}>
            {{else}}
            <a>
                {{endif}}
                {$list['name']|raw}
            </a>
    </li>
    {{endforeach}}
</ul>