<ips:template parameters="$name, $key, $title, $lists, $count=null, $icon='random', $max=true, $hide=false, $last=null, $clear=false"/>
<li id="elProfile{$key}" {{if $title}}title="{$title}" data-ipstooltip{{endif}} class="isParent dtProfileFirst dtProfiler{$key} {{if $hide}}ipsHide{{endif}}" {{if $last }}data-last="{$last}"{{endif}}>
    <i class="fa fa-{$icon}"></i> {$name} {{if $count !== null}}(<span class="dtprofilerCount" data-count="{$count}">{$count}</span>) <i class="fa fa-angle-up dtprofilearrow"></i>{{endif}}
</li>
{{if $clear || $count }}
<ul id="elProfile{$key}_list" class="ipsList_reset ipsHide dtProfilerBar_generic {{if $max}}dtProfilerMaxWidth{{endif}}">
    {{if $clear }}
    <li class="dtProfilerClear">
        <span>Clear</span>
    </li>
    {{endif}}
    {{if is_array($lists) && count($lists) }}
    {{foreach $lists as $list }}
    {template="li" group="generic" location="front" app="dtprofiler" params="$list"}
    {{endforeach}}
    {{endif}}
</ul>
{{endif}}
