<ips:template parameters="$data, $name=null"/>
{{if $name }}
<h4>{$name}</h4>
{{endif}}
{{foreach $data as $key => $value }}
<div class="ipsColumns">
    <div class="ipsColumn ipsColumn_wide">{$key|raw}</div>
    <div class="ipsColumn ipsColumn_fluid">
        {{if is_array($value) }}
        {template="keyvalue" group="generic" location="front" app="dtprofiler" params="$value"}
        {{else}}
        {expression="(new \IPS\dtprofiler\Profiler\Dumper)->add($value)" raw="true"}
        {{endif}}
    </div>
</div>
{{endforeach}}
