<ips:template parameters="$data, $name=null"/>
{{if $name }}
<h4>{$name}</h4>
{{endif}}
    <div class="ipsColumns">
        <div class="ipsColumn ipsColumn_fluid">
            {expression="(new \IPS\dtprofiler\Profiler\Dumper)->add($data)" raw="true"}
        </div>
    </div>
