<ips:template parameters="$time, $memory, $files, $templates, $database, $cache, $logs, $extra, $info, $environment, $debug"/>
<div id="dtProfilerBarContainer" class="dtProfilerBar">
    <ul class="ipsList_reset dtProfilerBar_list ipsClearfix" data-ipsdtprofiler data-ipsdtprofilerdebug data-url="{url='app=dtprofiler&module=bt&controller=bt' base='front'}">
        {{if $time }}
        <li id="elProfileTimeLog" title="total time" class="isParent dtProfileFirst dtProfilerTime" data-ipstooltip>
            <i class="fa fa-server"></i> {$time['total']}ms  <i class="fa fa-angle-up dtprofilearrow"></i>
        </li>
        <ul id="elProfileTimeLog_list" class="ipsList_reset ipsHide dtProfilerBar_cache">
            <li>
                <a>
                    Complete Execution: {$time['total']}ms
                </a>
            </li>
            <li>
                <a>
                    Framework Execution: {$time['framework']}ms
                </a>
            </li>
            <li>
                <a>
                    Profiler Execution: {$time['profiler']}ms
                </a>
            </li>
        </ul>
        {{endif}}

        {{if $memory }}
        {$memory|raw}
        {{endif}}

        {{if $files }}
        {$files|raw}
        {{endif}}

        {{if $database }}
        {$database|raw}
        {{endif}}

        {{if $cache }}
        {$cache|raw}
        {{endif}}

        {{if $environment }}
        {$environment|raw}
        {{endif}}

        {{if $templates }}
        {$templates|raw}
        {{endif}}

        {{if $logs }}
        {$logs|raw}
        {{endif}}

        {{if $debug }}
        {$debug|raw}
        {{endif}}

        {{if $extra }}
        {$extra|raw}
        {{endif}}
    </ul>
    {{if $info }}
    <div class="dtProfilerInfoBar">
        {{foreach $info as $key => $inf }}
            <div>{$key} : {$inf|raw}</div>
        {{endforeach}}
    </div>
    {{endif}}
</div>
<div class="dtProfilerPlaceHolder">
</div>
